#details {
    margin-left: 55px;
}
#up {
    margin-right: 20px;
    margin-left: 10px;
    }
#down {
    margin-left:10px ;
}
p {
    margin-left: 120px;
}
h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;  
}