<div class="container">
  <h1>QUOTES</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
      <h2>Quote Display</h2><br>
     <div *ngFor='let quote of quotes ;let i = index'>
      <div>
        <div class="card bg-dark text-black">
          <img src="./assets/images/qt.jpeg"      class="card-img" alt="....">
          <div class="card-img-overlay">   
      {{quote.text}}
      <p><strong>{{quote.author}}</strong></p>
      {{quote.creationDate|date:'s'}} seconds
      <div><br>
      {{quote.likes}}<button type="button" id= "up" class="btn btn-success btn-sm"(click)="likeButtonClick(i)">Like</button> 
      {{quote.dislikes}}<button type="button" id="down" class="btn btn-primary btn-sm"(click)="dislikeButtonClick(i)">Dislike</button> 
      </div>
     </div>
    </div>
  </div>
      <div>
      <br><button class="btn btn-info btn-sm"  id ="details"(click)='toggleDetails(i)'>Details</button>
      </div>

      <br><div *ngIf='quote.showDescription'>
      <app-quote-detail [quote]='quote' (isDislike) = 'deleteQuote($event,i)'></app-quote-detail>
      </div>
    </div>
    </div>
  </div>
</div>